<style>
    a {
        color: white;
    }
</style>
<h2 style="text-align: left">Home</h2>
<div id="banner">
    <b>INFO:</b><br> <br>
    <p>The project is part of a Java development course at Jhon Bryce
        College</p>
</div>

<div class="header1">
    <p style="letter-spacing: 5px;font-size:25px">Customer-COUPON SYSTEM</p>
</div>

<div class="clearfix">
    <div class="column menu">
        <ul>
            <li><a href="#/purchase" ng-click="g.getAllPurchasedCoupons()">Buy
                A Coupon</a></li>
            <li><a href="#/get" ng-click="g.getAllPurchasedCoupons()">Your
                Coupons</a></li>
            <li><a href="#/gettype">Coupons By Type</a></li>
            <li><a href="#/getprice">Coupons By Price</a></li>
        </ul>
    </div>


    <div class="column content1" style="font-style: italic">
        <h3 style="text-align: left">Welcome</h3>
        <p style="text-align: left">System Benefits </p>
        <ul class="b">
            <li>Hundreds of new coupons every day</li>
            <li>First come first served</li>
            <li>View previously purchased coupons by price</li>
            <li>View previously purchased coupons by type</li>
            <li>Buying a new coupon at any moment</li>
        </ul>
    </div>
</div>
