<style>
    a {
        color: white;
    }
</style>
<h2 style="text-align: left">Home</h2>
<div id="banner">
    <b>INFO:</b><br> <br>
    <p>The project is part of a Java development course at Jhon Bryce
        College</p>
</div>

<div class="header1">
    <p style="letter-spacing: 5px;font-size:25px">Admin-COUPON SYSTEM</p>
</div>

<div class="clearfix">
    <div class="column menu">
        <ul>
            <li><a href="#/createcompany">Create Company</a></li>
            <li><a href="#/updatecompany">Update Company</a></li>
            <li><a href="#/deletecompany">Delete Company</a></li>
            <li><a href="#/getcompany">Get Company</a></li>
            <li><a href="#/getallcompanies"
                   ng-click="gaco.getAllCompanies()">Get All Companies</a></li>
            <li><a href="#/createcustomer">Create Customer</a></li>
            <li><a href="#/updatecustomer">Update Customer</a></li>
            <li><a href="#/deletecustomer">Delete Customer</a></li>
            <li><a href="#/getcustomer">Get Customer</a></li>
            <li><a href="#/getallcustomers"
                   ng-click="gacu.getAllCustomers()">Get All Customers</a></li>
        </ul>
    </div>
    <div class="column content1" style="font-style: italic">
        <h3 style="text-align: left">Welcome</h3>
        <ul class="b">
            <li>Full control over the system</li>
            <li>Update customers and companies</li>
            <li>Database management</li>
            <li>client management</li>
        </ul>
    </div>
</div>



